@font-face {
    font-family:'Bebas Neue Cyrillic';
    src: url('../fonts/Bebas Neue Cyrillic.eot');
	src: url('../fonts/Bebas Neue Cyrillic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas Neue Cyrillic.woff2') format('woff2'),
		url('../fonts/Bebas Neue Cyrillic.woff') format('woff'),
		url('../fonts/Bebas Neue Cyrillic.ttf') format('truetype'),
		url('../fonts/Bebas Neue Cyrillic.svg#Bebas Neue Cyrillic') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}