@import "../fonts/fonts.scss";
@import "./variables.scss";

$bebas  : 'Bebas Neue Cyrillic';
$proxima: 'Proxima Nova Rg';
$montserrat: 'Montserrat',
sans-serif;

body {
  color      : $light-black;
  font-family: $montserrat;
}

main {
  padding-top   : 70px;
  padding-bottom: 70px;

  @media (max-width: 991px) {
    padding-top   : 50px;
    padding-bottom: 50px;
  }
}

.container {
  width : 1170px;
  margin: 0 auto;

  @media (min-width: 1200px) {
    max-width: 1170px;
  }

  @media (max-width: 991px) {
    width: auto !important;
  }
}

.header-address {
  display      : flex;
  margin-top   : 10px;
  margin-bottom: 10px;
  color        : $dark-gray;
  font-size    : 14px;

  a {
    color: $dark-gray;
  }

  &__left,
  &__right {
    display: flex;
  }

  &__left {
    margin-right: auto;
  }

  &__left p {
    margin-right : 25px;
    margin-bottom: 0;
  }

  &__right p {
    margin-left  : 25px;
    margin-bottom: 0;
  }

  select {
    color     : gray;
    background: transparent;
    border    : none;
  }

  @media (max-width: 991px) {
    &__left {
      display: none;
    }

    &__right {
      margin-left: auto;
    }
  }

  @media (max-width: 650px) {
    &__right {
      flex-direction: column-reverse;
      margin-right  : auto;
      margin-left   : 0;

      p {
        margin-left: 0;
      }
    }
  }
}

.light-green {
  color: $light-green !important;
}

nav {
  padding-left : 0 !important;
  padding-right: 0 !important;
  font-size    : 14px;
  border-bottom: 2px solid $light-gray;
  border-top   : 1px solid $light-gray;

  .nav-item.active a {
    color      : $light-green !important;
    font-weight: bold;
  }

  @media (max-width: 1200px) {
    form {
      width: min-content;

      input:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 991px) {
    form {
      display        : flex;
      justify-content: center;
      width          : auto;

      input:nth-child(1) {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 436px) {
    form {
      input:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
}

.about-capital {
  &__title {
    margin        : 0;
    padding-left  : 15px;
    padding-bottom: 50px;
    font-size     : 40px;
    font-weight   : bold;
    line-height   : 1.4;
  }

  &__text {
    line-height: 1.4;
  }

  &__image {
    float: right;
  }

  @media (max-width: 991px) {

    &__title {
      padding   : 10px 0 20px;
      text-align: center;
      font-size : 30px;
    }

    &__text {
      text-align: justify
    }

    &__image {
      float  : none;
      display: flex;
      width  : 100%;
      margin : auto;
    }
  }
}

.list {
  padding      : 0;
  margin       : 0;
  margin-bottom: 40px;

  &-item {
    display        : flex;
    flex-direction : row;
    list-style-type: none;
  }

  &-item::before {
    content      : '';
    display      : inline-block;
    width        : 3px;
    height       : 3px;
    margin-top   : 12px;
    margin-right : 30px;
    background   : $light-black;
    border-radius: 50%;
  }
}

.calc {
  margin-top: 40px;

  &-form {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
  }

  &-percent-rate {
    padding   : 60px;
    text-align: center;
    border    : 7px solid $light-green;
  }

  &-percent-rate__title {
    color      : $light-green;
    font-size  : 29px;
    font-weight: 600;
  }

  &-percent-rate__number {
    color      : $light-green;
    font-size  : 62px;
    font-weight: 600;
  }

  &-content {
    display        : flex;
    justify-content: space-between;
    flex-direction : column;
  }

  &-content__title {
    font-size  : 31px;
    font-weight: bold;
  }

  &-content__slider {
    display       : flex;
    flex-direction: column;
  }

  .slider-field {
    margin-top: 20px;
  }

  .output-area,
  .percent {
    display    : flex;
    align-items: center;
  }

  .percent {
    margin-left: 40px;
  }

  output {
    display      : flex;
    width        : 82px;
    height       : 32px;
    margin-left  : 10px;
    padding-top  : 3px;
    border       : 1px solid $light-green;
    border-radius: 5px;
  }

  .range-field {
    display        : flex;
    justify-content: space-between;
  }

  #monthscount,
  #money {
    width: 100%;
  }

  input[type='range'] {
    width             : 100%;
    height            : 10px;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    background-color  : $gray;
    outline           : none;
    -webkit-transition: .2s;
    transition        : opacity .2s;
  }

  input[type='range']::-webkit-slider-thumb {
    width                : 25px;
    -webkit-appearance   : none;
    height               : 25px;
    background           : white;
    border               : 1px solid $light-green;
    border-radius        : 50%;
    appearance           : none;
    cursor               : pointer;
    transition: background .15s ease-in-out;
  }


  &-result {
    margin-top: auto;
  }

  &-result__item {
    margin-top   : 25px;
    margin-bottom: 7px;
    font-size    : 14px;
    font-weight  : 600;
  }

  &-result__item:last-child {
    color: $light-green;
  }

  &-result__num {
    font-size  : 19px;
    font-weight: bold;
  }

  @media (max-width: 1200px) {
    &-form {
      flex-direction: column
    }

    &-percent-rate {
      margin-bottom: 20px;
      padding      : 20px;
    }
  }

}

.button {
  padding-left  : 25px;
  padding-right : 25px;
  height        : 40px;
  font-size     : 15px;
  font-weight   : bold;
  letter-spacing: -1px;
  border-radius : 5px;
  outline       : none;

  &--green {
    color     : white;
    background: $light-green;
    border    : 1px solid $light-green;
  }

  &--green:hover {
    background: darken($light-green, 5%);
  }

  &--green:focus {
    background: darken($light-green, 10%);
  }

  &--gray {
    color     : $light-black;
    background: transparent;
    border    : 1px solid $light-black;
  }

  &--gray:hover {
    background: $light-gray;
  }

  &--gray:focus {
    background: $gray;
  }
}

.footer-basic {
  padding-top   : 65px;
  padding-bottom: 45px;
  color         : $dark-gray;
  background    : $black;

  &__row {
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : center;
  }

  h3 {
    margin-bottom: 20px;
    color        : white;
    font-size    : 24px;
  }

  p {
    position   : relative;
    font-family: $proxima;
  }

  ion-icon {
    position    : absolute;
    left        : -20px;
    top         : 4px;
    display     : inline-block;
    width       : 12px;
    height      : 12px;
    margin-right: 5px;
  }

  a {
    color: $dark-gray;
  }

  span {
    font-weight: bold;
  }

  @media (max-width: 991px) {
    &__row {
      flex-direction: column;
      text-align    : center;
    }
  }

  @media (max-width: 767px) {
    h3 {
      font-size: 20px;
    }
  }
}

.logo {
  @media (max-width: 991px) {
    width        : 80%;
    margin-bottom: 20px;
  }
}

.contacts {

  h3 {
    margin-left: -20px;
  }

  p {
    font-size: 14px;
  }

  @media (max-width: 991px) {
    h3 {
      margin-left: 0;
    }
  }
}

.documentation {
  a {
    text-decoration: none;
    border-bottom  : 1px solid gray;
  }
}

.copyright {
  margin    : 0 auto;
  padding   : 15px;
  color     : $dark-gray;
  text-align: center;
  background: lighten($black, 10%);

  p {
    margin: 0;
  }

  span {
    position   : relative;
    display    : inline-block;
    color      : white;
    font-weight: bold;
    border     : 2px solid $dark-gray;
  }

  span::before,
  span::after {
    content   : "";
    position  : absolute;
    top       : 8px;
    height    : 10px;
    width     : 4px;
    background: lighten($black, 10%);
  }

  span::before {
    left: -3px;
  }

  span::after {
    right: -3px;
  }
}
